    <!DOCTYPE html>
    <html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Free restaurant catalogue for you">
        <meta name="theme-color" content="#000000"/> 
        <link rel="icon" href="favicon.png">
        <link rel="manifest" href="manifest.json">
        <link rel="apple-touch-icon" href="public/icons/icon-101x101.png">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <title>Resto Finder Catalogue</title>
       
    </head>
    <body>
      <a href="#content__heading" class="skip-link">Skip to Content</a>
      <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <h1 tabindex="0">Resto Finder Catalogue</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/resto-list">Resto List</a></li>
            <li><a href="#/favorite">Favorite Resto</a></li> 
            <li><a href="https://www.linkedin.com/in/dzikra-yuhasyra-191b00122/">About Us</a></li>
          </ul>
        </nav>
      </header>

      <div class="hero">
    <div class="hero__inner">
        <h1 tabindex="0"class="hero__title">Find Your Favorite Resto Here!</h1>
        <p tabindex="0" class="hero__tagline">The best recommendation for tasty food resto!</p>
    </div>

  </div>
      <main id="mainContent"></main>
      
      <footer>
        <p tabindex="0">Copyright Dicoding & Dzikra Yuhasyra &#169; 2021 - Resto Finder Catalogue</p> 
      </footer>
    </body>
    </html>
